.Header {
    margin-top: 29px;
}

.nav_inner {

    .nav_items {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav_departments {

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 75px;

            li {
                font-weight: 700;
                letter-spacing: 2px;
            }
        }
    }

    .nav_icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 47px;

        .bi {
            font-size: 23px;
            cursor: pointer;
        }
        span{
            position: absolute;
            padding: 0px 1px 0px 5px;
            border-radius: 29px;
            background-color: red;
            top: 24px;
            right: 50px;
            font-size: 14px;
            height: 19px;
            width: 20px;
            color: #fff;
        }
    }

    .shopping-card {

        z-index: 99;
        height: 780px;
        background-color: #fff;
        padding: 28px 30px 28px 35px;
        position: fixed;
        top: 0;
        right: 0;

        .shopping-card-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h2 {
                font-size: 24px;
                font-family: sans-serif;
                font-weight: 700;
            }

            .bi {
                margin-left: 160px;
                font-size: 20px;
            }
        }

        .card-line {
            display: block;
            background-color: #D9D9D9;
            max-width: 265px;
            height: 2px;
            margin-top: 26px;
        }

        .card_hero {
            margin-top: 20px;
            height: 510px;
            overflow: auto;
            .card_item1 {
                .card_list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 25px;
                    a{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 375px;
                        img{
                            width: 115px;
                            height: 100px;
                            border-radius: 10px;
                            object-fit: cover;
                        }
                        span {
                            
                            h3 {
                                font-size: 22px;
                                font-weight: 600;
                            }
                            
                            .card-spannumber {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                gap: 25px;
                                margin-top: 11px;
                            
                                :nth-child(1) {
                                    font-size: 18px;
                                    span{
                                        margin-left: 15px;
                                    }
                                }

                                :nth-child(2) {
                                    font-size: 16px;
                                    color: #B88E2F;
                                }
                            }
                        }
                    }
                }
                .card-x {
                    font-size: 20px;
                    color: #9F9F9F;
                }
            }

            .card_item2 {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 20px;

                span {

                    h3 {
                        font-size: 16px;
                        font-weight: 600;
                    }

                    .card-spannumber {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 25px;
                        margin-top: 11px;

                        :nth-child(2) {
                            font-size: 15px;
                            color: #B88E2F;
                        }
                    }
                }

                .card-x {
                    font-size: 20px;
                    color: #9F9F9F;
                }
            }
        }

        .shopping-card-foot {

            .card-subtotal {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
                :nth-child(1) {
                    font-size: 20px;
                    font-weight: 600;
                }

                :nth-child(2) {
                    font-size: 20px;
                    font-weight: 600;
                    color: #B88E2F;
                }
            }

            .card-footer-line {
                background-color: #D9D9D9;
                height: 2px;
                margin-left: -35px;
                margin-top: 26px;
                position: absolute;
                width: 472px;
            }

            .card_bottom {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 14px;

                .card-btn {
                    padding: 6px 30px;
                    border-radius: 50px;
                    border: 1px solid black;
                }
            }
        }
    }



    .shopping-card.shop-show {
        visibility: visible;
        transition: 0.4s all ease-in-out;

    }

    .canvas-block {
        visibility: visible;
    }

    .off-canvas {
        visibility: hidden;
    }

    .fade {
        display: none;
    }

    .off-canvas.show {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100vw;
        height: 100vh;
        background-color: #000;
        opacity: .5;
        visibility: visible;
    }

    .none {
        z-index: 99;
        height: 750px;
        background-color: #fff;
        padding: 28px 30px 28px 35px;
        position: fixed;
        top: 0;
        right: 0;
        transition: 0.4s all ease-in-out;
        margin-right: -100%;

        .shopping-card-nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            h2 {
                font-size: 24px;
                font-family: sans-serif;
                font-weight: 700;
            }

            .bi {
                margin-left: 160px;
                font-size: 20px;
            }
        }

        .card-line {
            display: block;
            background-color: #D9D9D9;
            max-width: 265px;
            height: 2px;
            margin-top: 26px;
        }

        .card_hero {
            margin-top: 142px;

            .card_item1 {
                .card_list{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img{
                        width: 15px;
                    }
                    span {
                        
                        h3 {
                            font-size: 16px;
                            font-weight: 600;
                        }
                        
                        .card-spannumber {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            gap: 25px;
                            margin-top: 11px;
                            
                            :nth-child(2) {
                                font-size: 15px;
                                color: #B88E2F;
                            }
                        }
                    }
                }

                .card-x {
                    font-size: 20px;
                    color: #9F9F9F;
                }
            }

            // .card_item2 {
            //     display: flex;
            //     justify-content: space-between;
            //     align-items: center;
            //     margin-top: 20px;

            //     span {

            //         h3 {
            //             font-size: 16px;
            //             font-weight: 600;
            //         }

            //         .card-spannumber {
            //             display: flex;
            //             justify-content: space-between;
            //             align-items: center;
            //             gap: 25px;
            //             margin-top: 11px;

            //             :nth-child(2) {
            //                 font-size: 15px;
            //                 color: #B88E2F;
            //             }
            //         }
            //     }

            //     .card-x {
            //         font-size: 20px;
            //         color: #9F9F9F;
            //     }
            // }
        }

        .shopping-card-foot {
            margin-top: 235px;

            .card-subtotal {
                display: flex;
                justify-content: space-between;
                align-items: center;

                :nth-child(1) {
                    font-size: 20px;
                    font-weight: 600;
                }

                :nth-child(2) {
                    font-size: 20px;
                    font-weight: 600;
                    color: #B88E2F;
                }
            }

            .card-footer-line {
                background-color: #D9D9D9;
                height: 2px;
                margin-left: -35px;
                margin-top: 26px;
                position: absolute;
                width: 472px;
            }

            .card_bottom {
                margin-top: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 14px;

                .card-btn {
                    padding: 6px 30px;
                    border-radius: 50px;
                    border: 1px solid black;
                }
            }
        }
    }
}